{% load thumbnail %}
{% load render_partial %}
{% load poll_extras %}
{% if rtl_fa == False %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

{% render_partial 'link' %}
<body>

    {% render_partial 'theme' %}
	<!-- Preloader -->
    {% render_partial 'preloader' %}
	<!-- Main Site -->
    {% render_partial 'main_site' %}
	<!-- Left Block -->
	{% render_partial 'menu' %}
	<!-- Home Section -->


	<!--Blog Page-->
	<div class="blog-page" data-simplebar>
		<nav class="blog-nav">
{#            {% if not blog_model.slug in slug %}#}
{#			<a href="{% url 'blog_ditail' slug %}" data-tooltip="قبلی" data-position="left">#}
{#				<i class="fas fa-long-arrow-alt-right"></i>#}
{#			</a>#}
{#            {% endif %}#}


			<a href="{% url 'blog_list' %}">
				<i class="fas fa-bars"></i>
			</a>
{#           {% if slug != blog_model.slug %}#}
{#			<a href="{% url 'blog_ditail' slug %}" data-tooltip="بعدی" data-position="right">#}
{#				<i class="fas fa-long-arrow-alt-left"></i>#}
{#			</a>#}
{#           {% endif %}#}

		</nav>
		<div class="blog-image">
            {% thumbnail blog_model.image "1920x600"  crop='center' as img %}
                <img src="{{ img.url }}" alt="">
            {% endthumbnail %}
		</div>
		<div class="row blog-container">
			<div class="col-md-10 offset-md-1">

				<!-- Heading -->
				<div class="blog-heading pt-70 pb-100">
					<h2>{{ blog_model.title }}</h2>
					<span><i class="fas fa-home"></i><a href="{% url 'blog_cat' blog_model.category.url %}">{{ blog_model.category }}</a></span>
					<span><i class="fas fa-comment"></i><a onclick="scroll_comment()">{{ comments.count }}  دیدگاه</a></span>
					<span><i class="fas fa-calendar-alt"></i><a>{{ blog_model.get_jalali_data }}</a></span>
				</div>

				<!-- Content -->
				<div class="blog-content">
					<p>{{ blog_model.description }}</p>

					<blockquote>
                    {% thumbnail user.image "400x400"  crop='center' as im %}
                        <span><img src="{{ im.url }}" alt="">{{ user.name }}</span>
                    {% endthumbnail %}
					</blockquote>
				</div>
				<!-- Comments -->
				<div class="blog-comments mt-100 mb-100" id="comment_list">
					<div class="header-box mb-50">
						<h3>دیدگاه‌ها</h3>
					</div>
                        <ul>
                            <li>

                                    {% for comment in comments %}
                                           <div class="comment-text">
                                               {% if request.user.is_superuser %}
                                                   <a  onclick="replace({{ comment.id }})"><i class="fas fa-reply"></i>پاسخ</a>
                                               {% endif %}
                                               <h4>{{ comment.user }}</h4>
                                               <span>{{ comment.get_jalali_data }}  در {{ comment.get_jalali_time }}</span>
                                               <p>{{ comment.text }}</p>
                                           </div>
                                           {% for replace_comment in comment.blog_comment_set.all %}
                                               <ul>
                                                   <li>
                                                       <div class="comment-text">
                                                           <a><i class="fas fa-reply"></i>{{ replace_comment.replace.user }}</a>
                                                           <h4>{{ user.name }}</h4>
                                                           <span>{{ replace_comment.get_jalali_data }}  در {{ replace_comment.get_jalali_time }}</span>
                                                           <p>{{ replace_comment.text }}</p>
                                                       </div>
                                                   </li>
                                               </ul>
                                           {% endfor %}
                                    {% endfor %}
                            </li>

                        </ul>

                </div>



				<!--Blog Form-->
            {% if request.user.is_superuser == False %}
            <div id="replace_comment" >
				<div class="header-box mb-50">
					<h3>دیدگاه خود را بیان کنید</h3>
				</div>
				<div class="contact-form mb-100" id="mass">
					<form method="post" class="box contact-valid" id="contact-form">
						<div class="row">
                            <input type="hidden" id="replaceId" value="">
							<div class="col-lg-6 col-sm-12">
								<input type="text" name="name" id="name" class="form-control" placeholder="نام *">
							</div>
							<div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
								<input type="email" name="email" id="email" class="form-control" placeholder="* ایمیل" dir="ltr">
							</div>
							<div class="col-lg-12 col-sm-12">
								<textarea class="form-control" name="note" id="note" placeholder="پیام شما"></textarea>
							</div>
							<div class="col-lg-12 col-sm-12 text-center">
								<a type="submit" class="btn-st" style="margin-top: 4.5%;" onclick="ditail_comment({{ blog_model.id }})">ارسال پیام</a>
								<div id="loader">
									<i class="fas fa-sync"></i>
								</div>
							</div>
						</div>
					</form>
				</div>

            </div>
            {% elif request.user.is_superuser %}
                <div id="replace_comment" style="display: none;" >
                    <div class="header-box mb-50">
                        <h3>دیدگاه خود را بیان کنید</h3>
                    </div>
                    <div class="contact-form mb-100" id="mass">
                        <form method="get" class="box contact-valid" id="contact-form">
                            <div class="row">
                                <input type="hidden" id="replaceId" value="">
                                <div class="col-lg-12 col-sm-12">
                                    <textarea class="form-control" name="note" id="note" placeholder="پیام شما"></textarea>
                                </div>
                                <div class="col-lg-12 col-sm-12 text-center">
                                    <a type="submit" class="btn-st" onclick="ditail_comment({{ blog_model.id }})">ارسال پیام</a>
                                    <div id="loader">
                                        <i class="fas fa-sync"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}


			</div>
		</div>
	</div>

	<!-- All Script -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/isotope.pkgd.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/simplebar.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/jquery.animatedheadline.min.js"></script>
	<script src="/static/js/jquery.easypiechart.js"></script>
	<script src="/static/js/jquery.validation.js"></script>
	<script src="/static/js/tilt.js"></script>
	<script src="/static/js/main.js"></script>
    <script src="/static/js/blog_ditail_comment.js"></script>
	<script src="/static/setting/main-demo.js"></script>

</body>

</html>
{% elif rtl_fa == True %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible">

	<!-- Title -->
	<title>taha</title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="/static/css/plugins/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/plugins/font-awesome.css">
	<link rel="stylesheet" href="/static/css/plugins/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/plugins/simplebar.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/css/plugins/jquery.animatedheadline.css">

	<!-- CSS Base -->
	<link rel="stylesheet" class="theme-st" href="/static/css/style-dark.css">

	<!-- Settings Style -->
	<link rel="stylesheet" class="pos-nav" href="/static/css/settings/right-nav.css">
	<link rel="stylesheet" class="box-bd" href="/static/css/settings/box/box.css">
	<link rel="stylesheet" class="box-st" href="/static/css/settings/box/circle.css">
	<link rel="stylesheet" class="box-tl" href="/static/css/settings/title/title.css">
	<link rel="stylesheet" class="style-cl" href="/static/css/settings/color/green-color.css">

	<link rel="stylesheet" href="/static/setting/style-demo.css">

	<!-- Icon and Color -->
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
	<meta name="theme-color" content="#0e0f10">

</head>
<body>

    {% render_partial 'theme' %}
	<!-- Preloader -->
    {% render_partial 'preloader' %}
	<!-- Main Site -->
    {% render_partial 'main_site' %}
	<!-- Left Block -->
	{% render_partial 'menu' %}
	<!-- Home Section -->

	<!--Blog Page-->
	<div class="blog-page" data-simplebar>
		<nav class="blog-nav">
			<a href="{% url 'blog_list' %}">
				<i class="fas fa-bars"></i>
			</a>
		</nav>
		<div class="blog-image">
            {% thumbnail blog_model.image "1920x600"  crop='center' as img %}
                <img src="{{ img.url }}" alt="">
            {% endthumbnail %}
		</div>
		<div class="row blog-container">
			<div class="col-md-10 offset-md-1">

				<!-- Heading -->
				<div class="blog-heading pt-70 pb-100">
					<h2>{{ blog_model.slug }}</h2>
					<span><i class="fas fa-calendar-alt"></i><a>{{ blog_model.date }}</a></span>
					<span><i class="fas fa-comment"></i><a href="{% url 'blog_cat' blog_model.category.url %}">{{ blog_model.category.url }}</a></span>
					<span><i class="fas fa-home"></i><a onclick="scroll_comment()">comment {{ comments.count }}</a></span>
				</div>

				<!-- Content -->
				<div class="blog-content">
					<p>{{ blog_model.description|trans}}</p>

					<blockquote>
                    {% thumbnail user.image "400x400"  crop='center' as im %}
                        <span><img src="{{ im.url }}" alt="">{{ user.en_name }}</span>
                    {% endthumbnail %}
					</blockquote>
				</div>

				<!-- Comments -->
				<div class="blog-comments mt-100 mb-100" id="comment_list">
					<div class="header-box mb-50">
						<h3>Comments</h3>
					</div>
					<ul>
						<li>
                                    {% for comment in comments %}
                                           <div class="comment-text">
                                               {% if request.user.is_superuser %}
                                                   <a  onclick="replace({{ comment.id }})"><i class="fas fa-reply"></i>replace</a>
                                               {% endif %}
                                               <h4>{{ comment.user.title|trans }}</h4>
                                               <span>{{ comment.create_date }}</span>
                                               <p>{{ comment.text|trans }}</p>
                                           </div>
                                           {% for replace_comment in comment.blog_comment_set.all %}
                                               <ul>
                                                   <li>
                                                       <div class="comment-text">
                                                           <a><i class="fas fa-reply"></i>{{ replace_comment.replace.user }}</a>
                                                           <h4>{{ user.en_name }}</h4>
                                                           <span>{{ replace_comment.create_date }}</span>
                                                           <p>{{ replace_comment.text|trans }}</p>
                                                       </div>
                                                   </li>
                                               </ul>
                                           {% endfor %}
                                    {% endfor %}
						</li>
					</ul>
				</div>

				<!--Blog Form-->
            {% if request.user.is_superuser == False %}
            <div id="replace_comment" >
				<div class="header-box mb-50">
					<h3>Leave a comment</h3>
				</div>
				<div class="contact-form mb-100" id="mass">
					<form method="post" class="box contact-valid" id="contact-form">
						<div class="row">
                            <input type="hidden" id="replaceId" value="">
							<div class="col-lg-6 col-sm-12">
								<input type="text" name="name" id="name" class="form-control" placeholder="name *">
							</div>
							<div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
								<input type="email" name="email" id="email" class="form-control" placeholder="* Email" dir="ltr">
							</div>
							<div class="col-lg-12 col-sm-12">
								<textarea class="form-control" name="note" id="note" placeholder="Your message"></textarea>
							</div>
							<div class="col-lg-12 col-sm-12 text-center">
								<a type="submit" class="btn-st" onclick="ditail_comment({{ blog_model.id }})">Send Message</a>
								<div id="loader">
									<i class="fas fa-sync"></i>
								</div>
							</div>
						</div>
					</form>
				</div>

            </div>
            {% elif request.user.is_superuser %}
                <div id="replace_comment" style="display: none;" >
                    <div class="header-box mb-50">
                        <h3>Leave a comment</h3>
                    </div>
                    <div class="contact-form mb-100" id="mass">
                        <form method="post" class="box contact-valid" id="contact-form">
                            <div class="row">
                                <input type="hidden" id="replaceId" value="">
                                <div class="col-lg-12 col-sm-12">
                                    <textarea class="form-control" name="note" id="note" placeholder="Your Message"></textarea>
                                </div>
                                <div class="col-lg-12 col-sm-12 text-center">
                                    <a type="submit" class="btn-st" onclick="ditail_comment({{ blog_model.id }})">Send Message</a>
                                    <div id="loader">
                                        <i class="fas fa-sync"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
			</div>
		</div>
	</div>
    <!-- All Script -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/isotope.pkgd.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/simplebar.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/jquery.animatedheadline.min.js"></script>
	<script src="/static/js/jquery.easypiechart.js"></script>
	<script src="/static/js/jquery.validation.js"></script>
	<script src="/static/js/tilt.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>

	<script src="/static/setting/main-demo.js"></script>

</body>

</html>
{% endif %}
