{% if rtl_fa == False %}
<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Title -->
	<title>طاها</title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="/static/css/plugins/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/plugins/font-awesome.css">
	<link rel="stylesheet" href="/static/css/plugins/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/plugins/simplebar.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/css/plugins/jquery.animatedheadline.css">

	<!-- CSS Base -->
	<link rel="stylesheet" class="theme-st" href="/static/css/style-dark.css">

	<!-- Settings Style -->
	<link rel="stylesheet" class="pos-nav" href="/static/css/settings/right-nav.css">
	<link rel="stylesheet" class="box-bd" href="/static/css/settings/box/box.css">
	<link rel="stylesheet" class="box-st" href="/static/css/settings/box/circle.css">
	<link rel="stylesheet" class="box-tl" href="/static/css/settings/title/title.css">
	<link rel="stylesheet" class="style-cl" href="/static/css/settings/color/green-color.css">

	<link rel="stylesheet" href="/static/setting/style-demo.css">

	<!-- Icon and Color -->
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
	<meta name="theme-color" content="#0e0f10">
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.min.css
" rel="stylesheet">
</head>
{% elif rtl_fa == True %}
<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible">

	<!-- Title -->
	<title>taha</title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="/static/css/plugins/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/plugins/font-awesome.css">
	<link rel="stylesheet" href="/static/css/plugins/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/plugins/simplebar.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/css/plugins/jquery.animatedheadline.css">

	<!-- CSS Base -->
	<link rel="stylesheet" class="theme-st" href="/static/css/style-dark.css">

	<!-- Settings Style -->
	<link rel="stylesheet" class="pos-nav" href="/static/css/settings/left-nav.css">
	<link rel="stylesheet" class="box-bd" href="/static/css/settings/box/box.css">
	<link rel="stylesheet" class="box-st" href="/static/css/settings/box/circle.css">
	<link rel="stylesheet" class="box-tl" href="/static/css/settings/title/title.css">
	<link rel="stylesheet" class="style-cl" href="/static/css/settings/color/green-color.css">

	<link rel="stylesheet" href="/static/setting/style-demo.css">

	<!-- Icon and Color -->
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
	<meta name="theme-color" content="#0e0f10">
    <!--sweetalert2-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
{% endif %}
